<%- include("Partials/header4") %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.6">
    <title>Checkout example · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/checkout/">

    <!-- Bootstrap core CSS -->

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


<style>
  .detail
  {
    margin: 0px;
    clear: both;
    
  }
  @media screen and (max-width:720px){
    .detail
    {
      
      margin: 0px;
      clear: both;
    }
  }
    
  
</style>
    
  </head>
  <center>
  <body >
    <br><br>
    

    <div  class="container image">
      <div class="row">
        <div class="col">
        
        <div style="background-color:black; height: 100%;" class="container">
          <br>
          <br>
        <h2 style="color: white;">Checkout</h2>
        <br><br>
        
      <img class="d-block mx-auto mb-4"   src="https://res.cloudinary.com/supersheep/image/upload/v1592998367/<%= buy.Image[0].filename %>.png" alt="" width="400" height="200" >   
        
        <br>
        
        <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <div style="text-align: center; color: white;" class="gg">Your Item</div>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div >
              <%=  buy.Namesneaker %>
              <small class="text-muted"></small>
            </div>
            <span class="text-muted"><strong>$<%=  buy.Price %></strong></span>
          </li>

          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-dark">
              <h6 class="text-dark">Shipping</h6>
            </div>
    
            <span class="text-success">$10</span>
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>$<%=  buy.Price+10 %></strong>
          </li>
        </ul>
        

          <form action="/<%=buy._id %>/<%=buy.Namesneaker %>/buy" method="POST">
            <div >
        
              <legend class="headline-5 prl6-sm prl0-lg ta-sm-l bg-transparent css-ybrhvy">
                <div >
                  <span style="color: white;">Choose Sizes</span>
                  <div class="form-group">
                  
                    <p><select class="form-control" type="text" value=""  name="Sizes" >
                      <option>7 US</option>
                      <option>8 US</option>
                      <option>9 US</option>
                      <option>10 US</option>
                      <option>11 US</option>
                      <option>12 US</option>
                      <option>13 US</option>
            
                    </select>
                    <div  class="form-check">
                    
                      <label style="color: red; font-size:15px;" class="form-check-label" for="exampleCheck1">* ชำระเงินปลายทาง</label>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
        
          
        </div>
        <div class="detail" style="background-color: #F5F5F5; color: black;  " class="col"> 
        <div  class="container "  style="margin-top: 10%; margin-bottom: 10%;" >
          
        <h2>Address</h2>
                

            <div  class="row" >
  
                <div class="col"><p>First name</p>
                <input type="text" class="form-control" placeholder="" value="<%= user.Name %>" name="Name" required>
              </div>
              
                <div class="col"><p>Last name</p>
                <input type="text" class="form-control" placeholder="" value="<%= user.Surename %>" name="Surename" required>
              </div>
            </div>
        
          <br>
        
         
              <div class="row user">
               
                  <div class="col"><p>ID Card</p>
                  <input type="text" class="form-control" placeholder="" value="<%= user.IDCard %>" name="IDCard" required>
                </div>
               
                  <div class="col"><p>Mobile Phone</p>
                  <input type="text" class="form-control" placeholder="" value="<%= user.Telephone %>" name="Telephone" required>
                </div>
              </div>
         
            <br>
            
            <div class="row">
             
                <div class="col"><p>House Number</p>
                <input type="text" class="form-control" placeholder="" value="<%= user.Housenumber %>" name="Housenumber" required>
              </div>
            
                <div class="col"><p>Road</p>
                <input type="text" class="form-control" placeholder="" value="<%= user.Road %>" name="Road" required>
              </div>
            </div>
        
          <br>
         
            <div class="row">
             
                <div class="col"><p>District</p>
                <input type="text" class="form-control" placeholder="" value="<%= user.Parish %>" name="Parish" required>
              </div>
             
                <div class="col"><p>City</p>
                <input type="text" class="form-control" placeholder="" value="<%= user.District %>" name="District" required>
              </div>
            </div>
         
          <br>
         
            <div class="row">
             
                <div class="col"><p>Province</p>
                <input type="text" class="form-control" placeholder="" value="<%= user.Province %>" name="Province" required>
              </div>
              
                <div class="col"><p>Postalcode</p>
                <input type="text" class="form-control" placeholder="" value="<%= user.Postalcode %>" name="Postalcode" required>
              </div>
            </div>
         
          
          <br>
          <div class="inputBox">
            <center><input type="submit" class="btn btn-dark" name="" value="Confirm"></center>
          </div>
        
        </div>
      </div>
    
    
  
  </div> 
  
  <br> 
   
  
  </form>
  
</body>


</html></center>

<%- include("Partials/footer") %>