<%- include("Partials/header4") %>
<link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
<style>
*{
    color: white;
    font-family: 'Kanit', sans-serif;
    
}
.pcard
{
    background-color: #f1f1f1;
}
.profile-card
{
    width: 50%;
    margin: auto;
    background: black;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
}
.image-container
{
    position: relative;
}
.info
{
    color: #4b4fe2;
    margin-right: 16px;
}
.main-container
{
    padding: 20px;
}
/* .list-bar
{
    background-color: #bdc9ea;
    border-radius: 16px;
} */
.itemlist
{
    padding: 0.1em 16px;
    border-radius: 16px;
    text-align: center;
    color: #fff;
    background-color: #D2D9DA;
}
@media screen and (max-width: 720px)
{
.profile-card
{
  margin-right: 10px;
  margin-left: 10%;
  
  height: 100%;
  width: 100%;
}
}
  
</style>


<body class="pcard">
<div style="margin-top: 5%;" class="profile-card">
    <div><a href="/profile/<%= user._id %>/edit"><div class="btn btn-outline-light" href="/profile/<%= user._id %>/edit" style="float:  right;margin-top: 10px; margin-right: 10px;">Edit</div></a>
    </div>
    <br>
    <center><h1>Profile</h1></center>
    <div class="container image-container fluid-image">
            <center><img  src= <%= "../uploadsuser/" + user.image %> style="width: 50% "></center>
            <div class="title">
                <h2 class="container"><span><%= user.Name %></span> <span><%= user.Surename %></span> </h2>

            </div>
            
    </div>
    <div class="main-container">

        
            <div class="row" >
              <div class="col" >
                
                <a>ID Card: <%= user.IDCard %> </a>
              </div>
              <div class="col">
                <a>Mobile Phone: <%= user.Telephone %></a>
              </div>
            </div>
          
          <br>
          
              <div class="row user">
                <div class="col">
                    <a> House Number: <%= user.Housenumber %> </a>
                </div>
                <div class="col">
                    <a> Road:  <%= user.Road %></a>
                </div>
              </div>
            
            <br>
           
            <div class="row">
              <div class="col">
                <a> District:  <%= user.Parish %></a>
              </div>
              <div class="col">
                <a> City: <%= user.District %>  </a>
              </div>
            </div>
          
          <br>
         
            <div class="row">
              <div class="col">
                <a> Province: <%= user.Province %> </a>
              </div>
              <div class="col">
                <a> Postalcode: <%= user.Postalcode %> </a>
              </div>
            </div>
          
          <br>
          
            <div class="row">
            
              <div class="col">
                <a> Gender: <%= user.Gender %> </a>
              </div>
            </div>
          
          <hr>
         
       
            <i class="fa fa-asterisk info"></i>รายการสินค้าที่สั่ง
        </b></p>
        
        <div class="list-bar">
            
            <% user.sneakers.forEach(function(sneakers){ %>
                
            <div class="itemlist">
                
              <%=  sneakers.Namesneaker %>  <%=  sneakers.Sizesneaker %> <%= moment(sneakers.Date).format("MM/DD/YY") %>
                  
            </div>
        
            <%})%>
       
        </div>
    
         
    </div>
    
</div>
</body>

<%- include("Partials/footer") %>